# use glob syntax.
syntax: glob

.DS_Store

.cache*
.classpath
.settings/org.scala-ide.sdt.core.prefs
*/.settings/org.scala-ide.sdt.core.prefs
.project

*/.settings
*/.setttings/*.prefs

.target
target
.target
lib_managed
project/boot
project/project
bin

jobscript*
fusion-rings/
fusion-rings2/
fusion-rings3*/*.partial
fusion-rings3*/*.resume
fusion-rings3*/paused

algebra-spiders/src/main/mathematica/QES-Knot-Polynomials.m
algebra-spiders/src/main/mathematica/groebnerCalculations.m
algebra-spiders/src/main/mathematica/pairing.m
algebra-spiders/src/main/mathematica/ev.m
algebra-spiders/src/main/mathematica/graphs/
algebra-spiders/src/main/mathematica/matrices/

*.out
*/.tmpBin

.worksheet
jointEigenspaceDownValues.m